# Security & Secrets
*.pem
.env

# Java / Maven Build Artifacts
target/
*.jar
*.war
*.ear
*.class

# Database storage files
/data/
*.db
*.sqlite

# IDE Configuration (IntelliJ / Eclipse)
.idea/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/

# OS-Specific Files
.DS_Store
Thumbs.db